script(src='script.js' defer='')

header.header-info
    .header-info__logo-quote
        img.header-info__logo(src='images/logo.png' alt='')
        .header-info__quote.quote
            blockquote.header-info__quote-text Мужчина не должен никому ничего объяснять. Мужчина либо уже все сказал, либо
    .menu
        nav.header-info__menu(onclick='showSubMenu(this)')
            | Menu &equiv;
            section#menu-container.menu__submenu
template#menu-container-item
    ul.menu__menu-item
        a.menu__menu-item_text
script(src='logout.js' defer='')
script(src='login.js' defer='')
script(src='header.js' defer='')
script(src='https://cdn.socket.io/socket.io-3.0.2.js')
//script(type='module' src='toaster-js')
script(type='text/javascript' src='https://unpkg.com/toaster-js/umd.js')
link(rel='stylesheet' href='https://unpkg.com/toaster-js/default.css')
//script(src='toaster-js' type = module)
//script(src='https://requirejs.org/docs/release/2.3.5/minified/require.js')
script(src='socketManager.js' defer='')