ul.menu__menu-item-myWolves
    a.menu__menu-item_text(href='myWolves.html') Мои волки
ul.menu__menu-item-main
    a.menu__menu-item_text(href='index.html') Волки
ul.menu__menu-item-content
    a.menu__menu-item_text(href='neurowolves.html') Нейроволки
ul.menu__menu-item-Memes
    a.menu__menu-item_text(href='memes.html') Самые первые волки
ul.menu__menu-item-logout
    a.menu__menu-item_text Выход