main.content
    section.content__button-container
        button.content__add_button(onclick='loadPhoto()' type='button') Load
        img.content__preloader(src='https://i.gifer.com/Vp3R.gif')
    section#img-container.content__img-container
    template#img-item
        img.content__img
.contacts-block
    h2.contacts-block__contacts-title
        strong &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;: 
    nav.contacts-block__contacts
        a.contacts-block__contacts-item(href='https://t.me/chasal_sheku' target='_blank') &Tcy;&iecy;&lcy;&iecy;&gcy;&rcy;&acy;&mcy;
        a.contacts-block__contacts-item(href='https://vk.com/zachem1ti1chitaesh1eto' target='_blank') &Vcy;&kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&iecy;
        a.contacts-block__contacts-item(href='https://instagram.com/chasal_sheku' target='_blank') &Icy;&ncy;&scy;&tcy;&acy;&gcy;&rcy;&acy;&mcy;
script(src='fetch.js' defer='')
