doctype html
html(lang='ru')
head
    meta(charset='UTF-8')
    meta(name='Description' content='Fetch page')
    meta(name='Author' content='Сабитов Искандэр')
    meta(name='Keywords' content='Fetch')
    link(rel='stylesheet' href='styles/outlines.css')
    title Главная
    append style
        link(rel='stylesheet' href='/styles/outlines.css')
        link(rel='stylesheet' href='/styles/fetch.css')
include partials/header.pug
main.content
    section.content__button-container
        button.content__add_button(onclick='loadPhoto()' type='button') Load
        img.content__preloader(src='https://i.gifer.com/Vp3R.gif')
    section#img-container.content__img-container
    template#img-item
        img.content__img
include partials/footer.pug
script(src='fetch.js' defer='')