doctype html

head
    html(lang='ru')
    meta(charset='UTF-8')
    meta(name='Description' content='Здесь отображаются новые волки АУФ')
    meta(name='Author' content='Сабитов Искандэр')
    meta(name='Keywords' content='Новые волки')
    link(rel='stylesheet' href='styles/outlines.css')
    title Главная
    append style
        link(rel='stylesheet' href='/styles/outlines.css')
include partials/header.pug

body
    include partials/welcome-wolf.pug
    +welcome-wolf('На этой странице представлены обычные необычные ВОЛКИ')
    main.content
        include partials/image_container.pug
        include partials/mySlicer

include partials/contacts.pug
include partials/footer.pug