@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/georgia.ttf") format("ttf");
}

@media screen and (max-width: 700px){
    footer {display: none; }
    aside {display: none; }
}

@media screen and (max-width: 330px){
    blockquote {display: none; }
}


body {
    background-color: #3BA6DB;
}

.header-info{
    margin: 0 0 10px;
    min-height: 104px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-info .header-info__logo-quote {
    display: flex;
    flex-direction: row;
}

.header-info .header-info__logo {
    min-width: 110px;
    width: 110px;
    height: 104px;
}

.quote {
    margin: 0 3px;
    position: relative;
    display: flex;

    background-color: #ABDCF5;
    height: auto;
    max-width: 500px;
}

.header-info .header-info__quote {
    align-items: center;
}

.header-info__quote .header-info__quote-text {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5em;
    font-style: italic;
    font-family: cursive, sans-serif;
}

.menu {
    height: 10px;
    background: #3BA6DB;
    width: 120px;
    margin: 0;
    cursor: pointer;
}

.header-info .header-info__menu {
    text-align: end;
    font-size: 150%;
}

.menu .menu__submenu {
    display:none;
    width: 200px;
    z-index: 1000;
    text-align: center;
    background: #ABDCF5;
    border-radius: 25px;
    position: absolute;
    right: 10px;
    margin: 0;
}

.menu__submenu .menu__menu-item {
    font-size: 80%;
    padding-inline-start: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.menu__submenu .menu__menu-item_text {
    text-decoration-line: none;
    color: black;
}

.menu__submenu .menu__menu-item_text_is-located {
    border-left:3px solid #29627e;
    padding-left:5px;
}

.menu__submenu .menu__menu-item_text:hover {
    color: antiquewhite;
}

.page-description {
    background: #ABDCF5;
    border: 0.2rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.page-description .page-description-welcome-wolf {
    width: 100px;
    margin: 0.5rem;
}

.page-description .page-description-text {
    max-width: 100%;
    font-size: 1.4rem;
}

.content{
    margin: 40px 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ABDCF5;
    min-height: 300px;
    box-shadow: 0px 0px 0px 2px;
}

.content .content-item {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex: 600px;
}

.content .content__img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content__img-container .content__img {
    max-width: 300px;
    margin: 5px;
    box-shadow: 5px 5px 5px gray;
}

.content .content__img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content__img-container .content__img {
    max-width: 300px;
    margin: 5px;
    box-shadow: 5px 5px 5px gray;
}

.contacts-block{
    margin: 0 0 110px 0;
    height: 100px;
    background-color: #ABDCF5;
}

.contacts-block .contacts-block__contacts {
    padding: 0 0 5px;
    font-size: 20px;
    text-align: center;
    font-family: Serif, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts-block .contacts-block__contacts-title {
    text-align: center;
    font-family: Serif, sans-serif;
}

.contacts-block .contacts-block__contacts-item {
    color: black;
    display: flex;
    margin: 0 50px;
}

.footer-info {
    margin: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #ABDCF5;
}

.footer-info .footer-info__add {

}